<p style="color: green"><%= notice %></p>

<%= render @student %>
List of Students:
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Number of units</th>
      <th>Teacher</th>
    </tr>
  </thead>

  <tbody>
    <%@student.subjects.each do |subject|%>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.section %></td>
    <td><%= link_to subject.teacher.name, teacher_path(subject.teacher) %></td>
  </tr>
  <%end%>
  </tbody>
</table>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
