<p style="color: green"><%= notice %></p>

<h1><%= @student.name %></h1>

<h2>Subjects:</h2>
<ul>
  <% @student.subjects.each do |subject| %>
    <li><%= link_to subject.name, subject %></li>
    <ul>
      <li>Room: <%= subject.room %></li>
      <li>Teacher: <%= link_to subject.teacher.name, subject.teacher %></li>
      <li>Year Level: <%= subject.sections.find_by(student_id: @student.id).year_level %></li>
    </ul>
  <% end %>
</ul>
