<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= subject.section %>
  </p>

  <p>
    <strong>Number of units:</strong>
    <%= subject.number_of_units %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= subject.teacher_id %>
  </p>

</div>
