<p style="color: green"><%= notice %></p>

<%= render @subject %>
List of Students:
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Year Level</th>
      </tr>
    </thead>

    <tbody>
    <% @subject.students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.year_level %></td>
      <td><%= link_to course.student.name, student_path(subject.student) %></td>
    <% end %>
    </tbody>
</table>

<div>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Back to subjects", subjects_path %>

  <%= button_to "Destroy this subject", @subject, method: :delete %>
</div>
