<p style="color: green"><%= notice %></p>

<h1><%= @subject.name %></h1>

<h2>Courses:</h2>
<ul>
  <% @courses.each do |courses| %>
    <li><%= course.name %></li>
    <ul>
      <li>Student: <%= link_to course.student.name, course.student %></li>
      <li>Teacher: <%= link_to @subject.teacher.name, @subject.teacher %></li>
    </ul>
  <% end %>
</ul>
