<p style="color: green"><%= notice %></p>

<h1><%= @course.name %></h1>

<h2>Subject:</h2>
<ul>
  <li><%= link_to @subject.name, @subject %></li>
  <li>Teacher: <%= link_to @teacher.name, @teacher %></li>
</ul>

<h2>Students:</h2>
<ul>
  <% @students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>
